<!-- ./views/index2.ejs -->
<html>

<head>
  <title>Movie</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- load fontawesome -->
</head>
<style>
  #h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 300%;
  }

  #table1 {
    position: absolute;
    left: 0px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }

  #table1 td,
  #table1 th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #table1 tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #table1 tr:hover {
    background-color: #ddd;
  }

  #table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  #table2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    position: absolute;
    right: 0px;
  }

  #table2 td,
  #table2 th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #table12 tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #table2 tr:hover {
    background-color: #ddd;
  }

  #table2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>

<body>
  <!-- <div class="jumbotron text-center"> -->
  <h1 id="h1"><a href="/">Movie</a>
    <a href="/user" class="btn btn-danger">
      <object align="right" style="font-size:20px">Profile</object>
    </a>
    <a href="/visualization" class="btn btn-danger">
      <object align="right" style="font-size:20px; margin-right:15px">Graph</object>
    </a>
  </h1>

  <form method="post" action="/">

    <label>Search Movie</label>
    <input type="text" id="txtMovie" name="searchMovie">
    <br>
    <input type="submit" value="Submit">

  </form>
  <form method="post" action="/description/">
    <label>Description</label>
    <input type="text" id="txtDescription" name="descriptionMovie">
    <br>
    <input type="submit" id="submitbtn" value="Submit">
  </form>

  <table id="table1" style="border-style:double;">
    <tr>
      <th>ID</th>
      <th>Movie</td>
        <th>Tagline</td>
          <th>Released</td>
            <th>Watch</th>
    </tr>
    <% moviesearch.forEach(function(search){ %>
      <tr onclick="clickFunction('<%= search.title %>')">
        <td>
          <%= search.id %>
        </td>
        <td>
          <%= search.title %>
        </td>
        <td>
          <%= search.tagline %>
        </td>
        <td>
          <%= search.released %>
        </td>
        <td rowspan=".3">
          <% if (valid) { %>
            <form method="post" action="/prefer">
              <button value="1 <%= search.title %>" name="like"><i class="fa fa-thumbs-o-up" style="font-size:20px;color:blue"></i></button>
            </form>
            <form method="post" action="/user">
              <button onclick="alert('You have watched: ' + '<%= search.title %>')" value="<%= search.title %>" name="inputClickWatch">
              <i class="fa fa-play" style="font-size:25px"></i></button>
            </form>
            <form method="post" action="/prefer">
              <button value="-1<%= search.title %>" name="like"><i class="fa fa-thumbs-o-down" style="font-size:20px;color:red"></i></button>
            </form>
          <% } %>
        </td>
      </tr>
      <% }) %>

  </table>
  <script>
    function clickFunction(x) {
      document.getElementById("txtDescription").value = x;
      document.getElementById("submitbtn").click();
    }
  </script>
</body>
<!-- </div> -->

</html>